.produc-item__swiper{
    width: 300px;
    height: 300px;

}

.product-item__image{
    width: 300px;
    height: 300px;
}
.modalslide1{
    height: 300px !important;
}
.modalslide2{
    margin-top: 10px !important;
    margin-bottom: 10px;
    height: 70px !important ;
}
.modalslide2__img{
    object-fit: contain !important;
}
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: containe;
  }  
  .modal_img{  

    object-fit: contain !important;
  }
 
  .product__price{
    margin: 5px 0;
    color: #FFCF01;
  }
  .product__description{
    font-size: 15px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product__wrapper{
    border-radius: 4px;
    padding: 20px 10px;
    background-color:#1F2A40;
    width: 400px;
    text-align: center;
  }
  .porduct__img{
    width: 95%;
    height: 300px;
    margin: 0 auto;
    object-fit: contain;
    margin-bottom: 18px;
  }
  .porduct__img:hover{
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
  }
.product__modalwrap{
  text-align: center;
  display: flex;
  flex-direction: column;
 margin: 0 auto;
}