.exness__logo {
  cursor: pointer;
  padding: 5px 20px;
  background-color: rgb(255, 207, 1);
  font-size: 34px;
  border-radius: 4px;
}
.exness__closelogo {
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgb(255, 207, 1);
  font-size: 20px;
  border-radius: 4px;
}

@media only screen and (max-width: 1024px) {
  .exness__closelogo {
    display: none;
  }
}
